//============================================================
// fonts 
//============================================================
@mixin font-size($size: 12px){
  font-size: $size; //fallback for old browsers
  font-size: ($size / 16px)+rem;
}

@mixin serif-font()      { font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif; }
@mixin sans-serif-font() { font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

//============================================================
// style
//============================================================
@mixin line-height($heightValue: 12px){
  line-height: $heightValue; //fallback for old browsers
  line-height: ($heightValue / 16px)+rem; } 

@mixin border-radius($rad: 0.5em) {
  -webkit-border-radius: $rad;
  border-radius: $rad;
  @include background-clip(padding-box);
}

@mixin border-top-radius($rad: 0.5em) {
  -webkit-border-top-right-radius: $rad;
  -webkit-border-top-left-radius: $rad;
  border-top-right-radius: $rad;
  border-top-left-radius: $rad;
  @include background-clip(padding-box);
}

@mixin border-right-radius($rad) {
  -webkit-border-bottom-right-radius: $rad;
  -webkit-border-top-right-radius: $rad;
  border-bottom-right-radius: $rad;
  border-top-right-radius: $rad;
  @include background-clip(padding-box);
}

@mixin border-bottom-radius($rad) {
  -webkit-border-bottom-right-radius: $rad;
  -webkit-border-bottom-left-radius: $rad;
  border-bottom-right-radius: $rad;
   border-bottom-left-radius: $rad;
   @include background-clip(padding-box);
}

@mixin border-left-radius($rad) {
  -webkit-border-bottom-left-radius: $rad;
  -webkit-border-top-left-radius: $rad;
  border-bottom-left-radius: $rad;
  border-top-left-radius: $rad;
  @include background-clip(padding-box);
}

@mixin background-size($val) {
  -webkit-background-size: $val;
  background-size: $val; 
}

@mixin box-shadow($top, $left, $blur, $spread, $color: #000000, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $spread $color;
            box-shadow: inset $top $left $blur  $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
            box-shadow: $top $left $blur $spread $color;
  }
}

@mixin box-sizing($arg: border-box) {
  -webkit-box-sizing: $arg;
          box-sizing: $arg; }

@mixin opacity($opacity) {
  $opacity-ie: $opacity * 100;
  opacity: $opacity;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin background-clip($value){
  -webkit-background-clip: $value;
  background-clip: #{$value}; 
}

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}

@mixin gradient($start-color:#fff, $start-alpha:1, $end-color:#000, $end-alpha:0, $from:left, $to:right, $distance: 100%){
  $start-rgba: rgba($start-color, $start-alpha);
  $end-rgba:   rgba($end-color, $end-alpha);
  $start-ie-hex-str: ie-hex-str($start-rgba);
  $end-ie-hex-str:   ie-hex-str($end-rgba);
  background: -webkit-gradient(linear, $from top, $to top, color-stop(0%, $start-rgba), color-stop($distance, $end-rgba)); // Chrome,Safari4+
  background: -webkit-linear-gradient($from, $start-rgba 0%, $end-rgba $distance); // Chrome10+,Safari5.1+
  background: -ms-linear-gradient($from, $start-rgba 0%, $end-rgba $distance); // IE10+
  background: linear-gradient(to $to, $start-rgba 0%, $end-rgba $distance); // W3C
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start-ie-hex-str}', endColorstr='#{$end-ie-hex-str}',GradientType=1 ); // IE6-9 
}

@mixin blur($value){
  -webkit-filter: blur($value);
          filter: blur($value);
}

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin user-select($val: auto){
  -webkit-user-select: $val;
  user-select: $val;
}
//============================================================
// brekpoint
//============================================================
@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1200px) { @content; }
  } @else if $point == lg {
    @media (min-width: 992px) { @content; }
  } @else if $point == md {
    @media (min-width: 768px) { @content; }
  } @else if $point == sm {
    @media (min-width: 576px)  { @content; }
  }
}

//============================================================
// possition
//============================================================
@mixin position($position, $args: ()) {
  $offsets: top right bottom left;
  position: $position;

  @each $offset in $offsets {
    $index: index($args, $offset);
    @if $index {
      @if $index == length($args) {
        #{$offset}: 0;
      } @else {
        $next: nth($args, $index + 1);
        @if is-valid-length($next) {
          #{$offset}: $next;
        } @else if index($offsets, $next) {
          #{$offset}: 0;
        } @else {
          @warn "Invalid value `#{$next}` for offset `#{$offset}`.";
        }
      }
    }
  }
}

@mixin absolute($args: ()) { @include position(absolute, $args); }
@mixin relative($args: ()) { @include position(relative, $args); }
@mixin fixed($args: ())    { @include position(fixed,    $args); }

//============================================================
// Transforms
//============================================================
@mixin transform($args...) {
  -webkit-transform: $args;
          transform: $args; }

@mixin skew($x, $y)           { @include transform(skew($x, $y)); }
@mixin scale($scale...)       { @include transform(scale($scale)); }
@mixin scaleX($scale)         { @include transform(scaleX($scale)); }
@mixin scaleY($scale)         { @include transform(scaleY($scale)); }
@mixin rotate($deg)           { @include transform(rotate($deg)); }
@mixin rotateY($deg)          { @include transform(rotateY($deg)); }
@mixin rotateX($deg)          { @include transform(rotateX($deg)); }
@mixin rotateZ($deg)          { @include transform(rotateZ($deg)); }
@mixin scale3d($sx, $sy, $sz) { @include transform(scale3d($sx, $sy, $sz)); }
@mixin translate($x, $y)      { @include transform(translate($x, $y)); }
@mixin translateX($x)         { @include transform(translateX($x)); }
@mixin translateY($y)         { @include transform(translateY($y)); }
@mixin translateZ($z)         { @include transform(translateZ($z)); }
@mixin translate3d($args...)  { @include transform(translate3d($args)); }

@mixin transform-origin ($args...) {
  -webkit-transform-origin: $args;
          transform-origin: $args; 
}

@mixin transform-style ($args...) {
  -webkit-transform-style: $args;
          transform-style: $args; 
}

//============================================================
// animation
//============================================================
@mixin animation($args...) {
  -webkit-animation: $args;
          animation: $args; }

@mixin transition($args...){
  -webkit-transition: $args;
          transition: $args; }

@mixin transition-property($args: all) {
  -webkit-transition-property: $args;
          transition-property: $args; 
}

@mixin transition-duration($args: 600ms) {
  -webkit-transition-duration: $args;
          transition-duration: $args; 
}

@mixin transition-timing-function($args: linear) {
  -webkit-transition-timing-function: $args;
          transition-timing-function: $args; 
}

@mixin transition-delay($args: 0) {
  -webkit-transition-delay: $args;
          transition-delay: $args; 
}

@mixin animation-timing-function($args: linear) {
  -webkit-animation-timing-function: $args;
          animation-timing-function: $args; 
}

@mixin keyframes($animationName...) {
  @-webkit-keyframes #{$animationName} { @content; }
     @-moz-keyframes #{$animationName} { @content; }
       @-o-keyframes #{$animationName} { @content; }
          @keyframes #{$animationName} { @content; } }